@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}